body {
  display: flex;
  justify-content: center;
}

.app {
  width: 1000px;
}

.chart__cont {
  height: 400px;
}

.result {
  margin-top: 80px;
}

.trade--closed {
  color: gray;
}

.chart__iframe {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
